// function
@function rem($value) {
    $result: $value / 16px;
    @return $result * 1rem;
}
.f-heading1 {
    font-family: "Bellefair";
    font-size: 150px;
    line-height: 172px;
    text-transform: uppercase;
}
.f-heading2 {
    font-family: 'Bellefair',serif;
    font-size: 100px;
    line-height: 115px;
}
.f-heading3 {
    font-family: 'Bellefair',serif;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
}
.f-heading4 {
    font-family: 'Bellefair',serif;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
}
.f-heading5 {
    font-family: 'Barlow Condensed', sans-serif ;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    
}
.f-sub-heading1 {
    font-family: 'Bellefair',serif;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
}
.f-sub-heading2 {
    font-family: 'Barlow Condensed', sans-serif ;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    text-transform: uppercase;
    color: var(--blue);
}
.f-nav-text {
    font-family: 'Barlow Condensed', sans-serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: var(--blue);
}
.f-body-copy {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: var(--blue) !important;
}
.f-blue {
    color: var(--blue);
}
.f-underline {
    text-decoration:underline;
}
// align
.f-center {
    text-align: center;
}

// hidden
.f-hidden {
    overflow: hidden;
    display: block;

}

// text-transform
.f-upper {
    text-transform: uppercase;
}

.f-lower {
    text-transform: lowercase;
}

.f-capitalize {
    text-transform: capitalize;
}