:root {
  --dark-blue:#0B0D17;
  --blue:#D0D6F9;
  --white:#FFFFFF;
}

.f-heading1 {
  font-family: "Bellefair";
  font-size: 150px;
  line-height: 172px;
  text-transform: uppercase;
}

.f-heading2 {
  font-family: "Bellefair", serif;
  font-size: 100px;
  line-height: 115px;
}

.f-heading3 {
  font-family: "Bellefair", serif;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
}

.f-heading4 {
  font-family: "Bellefair", serif;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
}

.f-heading5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
}

.f-sub-heading1 {
  font-family: "Bellefair", serif;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
}

.f-sub-heading2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: var(--blue);
}

.f-nav-text {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: var(--blue);
}

.f-body-copy {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: var(--blue) !important;
}

.f-blue {
  color: var(--blue);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: inherit;
  list-style: none;
  user-select: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
*::selection {
  background: transparent;
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

body, main {
  color: #fff;
  font-weight: 400;
  text-transform: none;
  position: relative;
}

body {
  background: #0b0d17;
  overscroll-behavior: none;
  overflow: hidden;
}

svg {
  pointer-events: none;
}

span {
  display: inline-block;
}

h1,
h3,
p,
strong {
  overflow-y: hidden;
}

#app {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page {
  position: absolute;
  top: 0;
  will-change: transform;
  width: 100%;
  left: 0;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 215px 0 130px;
}
.page.p-destination {
  padding: 215px 0 120px;
  gap: 62.5px;
}
.page.p-crew {
  padding: 215px 0 0;
}
.page.p-technology {
  padding: 215px 0 100px;
  gap: 25px;
}

header {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 0;
  top: 0;
  left: 0;
  right: 0;
}

.w-logo {
  padding: 0 0 0 55px;
  display: flex;
  align-items: stretch;
}
.w-logo span {
  display: flex;
  align-items: stretch;
}

.w-nav {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(35px);
  padding: 0 165px 0 123px;
}
.w-nav::after {
  display: block;
  content: "";
  position: absolute;
  width: calc(100vw - 155px - 100% + 40px);
  height: 1px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% + 40px), -50%);
}
.w-nav nav {
  display: flex;
  gap: 45px;
}
.w-nav span {
  color: #fff;
  position: relative;
  text-transform: uppercase;
}
.w-nav span::after {
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background: #fff;
  opacity: 0;
  position: absolute;
  transition: 0.7s;
}
.w-nav span:hover::after {
  opacity: 0.5;
}
.w-nav span.active::after {
  opacity: 1;
}
.w-nav a {
  display: flex;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  padding: 38.5px 0;
}
.w-nav a::before {
  content: attr(data-id);
  font-weight: 700;
  margin: 0 11px 0 0;
}

.w-menu-btn, .w-close-btn {
  display: none;
}

.w-page-title {
  padding: 0 165px;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
  transition: 0.7s;
}
.w-page-title span {
  transition: 1s;
}
.w-page-title span::before {
  content: attr(data-number);
  font-weight: 700;
  margin: 0 11px 0 0;
  opacity: 0.25;
}
.w-page-title.motion span {
  transform: translateY(125%) rotate(5deg);
}

.l-wrapper {
  color: #fff;
  display: flex;
  flex: 1;
  padding: 0 165px;
  justify-content: space-between;
}
.l-wrapper.home {
  align-items: flex-end;
}
.l-wrapper.destination {
  gap: 157.5px;
  justify-content: space-around;
}
.l-wrapper.crew {
  gap: 80.5px;
  padding: 0 165px;
  justify-content: space-between;
}
.l-wrapper.technology {
  padding: 0 0 0 165px;
  gap: 100px;
  align-items: center;
  position: relative;
}

.w-img {
  max-width: 50%;
  display: flex;
  width: 100%;
  align-items: flex-end;
  position: relative;
}
.w-img.destination {
  cursor: pointer;
}
.w-img.destination img {
  z-index: 0;
}
.w-img.crew {
  max-width: 50%;
  height: 100%;
}
.w-img.crew img {
  width: 90%;
  left: 5%;
}
.w-img img {
  width: 100%;
  height: auto;
}

.w-text {
  display: flex;
  flex-direction: column;
}
.w-text.home {
  padding: 175px 0 0;
  flex: 1;
  overflow-y: hidden;
}
.w-text.home.motion span {
  transform: translateY(100%);
  opacity: 0;
}
.w-text.destination {
  max-width: 445px;
  width: 100%;
}
.w-text.crew {
  width: 100%;
}
.w-text.technology {
  width: 100%;
  justify-self: flex-start;
}

.w-navXtext {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
}
.w-navXtext.crew {
  flex: none;
  justify-content: flex-end;
  gap: 120px;
  margin: 0 0 95px;
  flex: none;
}
.w-navXtext.technology {
  flex-direction: row;
  gap: 80px;
  align-items: center;
}

.w-strong.home {
  overflow: visible;
}
.w-strong.home span {
  transition: 0.7s;
}
.w-strong.crew {
  opacity: 0.5;
}
.w-strong.technology {
  transition: 1s 0.5s;
}
.w-strong.technology.motion {
  opacity: 0;
}

.w-h1.home {
  margin: 25px 0 0;
  overflow: visible;
}
.w-h1.home span {
  transition: 0.7s 0.5s;
}
.w-h1.destination {
  margin: 35px 0 0;
}
.w-h1.crew {
  margin: 15px 0 0;
}
.w-h1.technology {
  margin: 11px 0 0;
}

.w-paragraph {
  position: relative;
  width: 100%;
  max-width: 444px;
}
.w-paragraph.home {
  margin: 25px 0 0;
  overflow: visible;
}
.w-paragraph.home span {
  transition: 0.7s 0.75s;
}
.w-paragraph.destination {
  margin: 15px 0 0;
}
.w-paragraph.crew {
  margin: 27px 0 0;
}
.w-paragraph.technology {
  margin: 17.5px 0 0;
  max-width: 444px;
}

.w-bg {
  position: fixed;
  z-index: -1;
}

.bg {
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-fill-mode: forwards;
}
.bg.home {
  background-image: url("/media/home/background-home-desktop.jpg");
}
.bg.destination {
  background-image: url("/media/destination/background-destination-desktop.jpg");
}
.bg.crew {
  background-image: url("/media/crew/background-crew-desktop.jpg");
}
.bg.technology {
  background-image: url("/media/technology/background-technology-desktop.jpg");
}

.w-img.technology {
  position: relative;
  max-width: 515px;
  flex: 1;
  padding-bottom: 515px;
  overflow: hidden;
}
.w-img.technology div {
  width: 100%;
  top: 0;
  aspect-ratio: 1;
  background-size: cover;
  transition: 0.5s transform cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  transform: scale(1.025);
}
.w-img.technology div:hover {
  transform: scale(1.15);
}
.w-img.technology div:nth-child(1) {
  background-image: url("/media/technology/image-launch-vehicle-portrait.jpg");
}
.w-img.technology div:nth-child(2) {
  background-image: url("/media/technology/image-spaceport-portrait.jpg");
}
.w-img.technology div:nth-child(3) {
  background-image: url("/media/technology/image-space-capsule-portrait.jpg");
}

.m--wrapper:not(div) {
  position: relative;
  overflow-y: hidden;
}

@media (max-width: 1050px) {
  .bg.home {
    background-image: url("/media/home/background-home-tablet.jpg");
  }
  .bg.destination {
    background-image: url("/media/destination/background-destination-tablet.jpg");
  }
  .bg.crew {
    background-image: url("/media/crew/background-crew-tablet.jpg");
  }
  .bg.technology {
    background-image: url("/media/technology/background-technology-tablet.jpg");
  }

  .w-img.technology div:nth-child(1) {
    background-image: url("/media/technology/image-launch-vehicle-landscape.jpg");
  }
  .w-img.technology div:nth-child(2) {
    background-image: url("/media/technology/image-spaceport-landscape.jpg");
  }
  .w-img.technology div:nth-child(3) {
    background-image: url("/media/technology/image-space-capsule-landscape.jpg");
  }
}
@media (max-width: 480px) {
  .bg.home {
    background-image: url("/media/home/background-home-mobile.jpg");
  }
  .bg.destination {
    background-image: url("/media/destination/background-destination-mobile.jpg");
  }
  .bg.crew {
    background-image: url("/media/crew/background-crew-mobile.jpg");
  }
  .bg.technology {
    background-image: url("/media/technology/background-technology-mobile.jpg");
  }
}
@keyframes space {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}
#main > div:nth-child(2) {
  opacity: 0;
}

.w-home-cta {
  cursor: pointer;
  display: flex;
  position: relative;
  justify-content: center;
  background: var(--white);
  color: #0b0d17;
  border-radius: 50%;
  width: 275px;
  height: 275px;
  transition: 1s 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.w-home-cta::before, .w-home-cta::after {
  content: "";
  width: 450px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.w-home-cta::after {
  background: #fff;
  opacity: 0.1;
  border-radius: 50%;
  z-index: 1;
  transform: translate(-50%, -50%) scale(0.6);
  transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  pointer-events: none;
}
.w-home-cta:hover::after {
  transition: 2s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translate(-50%, -50%) scale(1);
}
.w-home-cta a {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
}
.w-home-cta.motion {
  opacity: 0;
  transform: scale(0.7);
}

.w-destination-nav {
  overflow: hidden;
}
.w-destination-nav nav {
  display: flex;
  gap: 35px;
  transition: 1s 0.7s;
}
.w-destination-nav nav.motion {
  opacity: 0;
}
.w-destination-nav span {
  padding: 0 0 15px;
  position: relative;
  cursor: pointer;
}
.w-destination-nav span::after {
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background: #fff;
  opacity: 0;
  position: absolute;
  transition: 0.7s;
}
.w-destination-nav span:hover::after {
  opacity: 0.5;
}
.w-destination-nav span.active::after {
  opacity: 1 !important;
}

.m--brain.destination {
  color: var(--blue);
}
.m--brain.destination.active {
  color: var(--white);
}

.m-destination-description,
.m-destination-name,
.m-destination-distance,
.m-destination-travel {
  position: relative;
}

.m-destination-img {
  position: absolute;
}

.w-crew-nav {
  display: flex;
  gap: 24px;
  transition: 1s 1s;
}
.w-crew-nav.motion {
  opacity: 0;
}

.m--brain.crew {
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 0.17;
  cursor: pointer;
}
.m--brain.crew:hover {
  opacity: 0.5;
}
.m--brain.crew.active {
  opacity: 1 !important;
}

.m-crew-job, .m-crew-name {
  position: relative;
  position: relative;
}

.m-crew-img {
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.w-technology-nav {
  display: flex;
  flex-direction: column;
  gap: 23px;
  transition: 1s 0.7s;
}
.w-technology-nav.motion {
  opacity: 0;
}

.m--brain.technology {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0);
  transition: 0.7s;
}
.m--brain.technology:hover {
  border: 1px solid white;
}
.m--brain.technology.active {
  border: 1px solid white;
  background: white;
  color: var(--dark-blue);
}

.m-technology-name,
.m-technology-description {
  position: relative;
  display: block;
  z-index: 1;
}

.w-site-cursor {
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: difference;
  will-change: transform;
}
.w-site-cursor.site-cursor--link-hover .site-cursor {
  transform: translate(-50%, -50%) scale(3.75);
}
.w-site-cursor.site-cursor--explore-hover .site-cursor {
  transform: translate(-50%, -50%) scale(11);
  opacity: 0;
}
.w-site-cursor.site-cursor--tech-hover .site-cursor {
  transform: translate(-50%, -50%) scale(4.5);
  opacity: 0;
}
@media (hover: none) {
  .w-site-cursor {
    display: none;
  }
}

.site-cursor {
  position: absolute;
  height: 16px;
  background-color: var(--blue);
  top: 50%;
  left: 50%;
  width: 16px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.35s ease-in-out;
}

.w-2-half-wrapper {
  display: flex;
  width: 100%;
  margin: 55px 0 0;
  padding: 25px 0 0;
  border-top: 1px solid #383B4B;
  transition: 1s 0.7s;
}
.w-2-half-wrapper.transformation {
  opacity: 0;
}
.w-2-half-wrapper div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.w-2-half-wrapper p {
  position: relative;
  display: flex;
  flex-direction: column;
}
.w-2-half-wrapper span {
  position: relative;
}

#progress {
  width: 4px;
  z-index: 739;
}
#progress, #progress div {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
#progress div {
  background: #fff;
  width: 100%;
  transform: translateY(-100%);
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: #0B0D17;
  transition: 0.7s cubic-bezier(0.6, 0.01, 0.43, 0.99);
  clip-path: inset(0 0 0 0);
}
#loader.dom-loaded {
  clip-path: inset(0 0 100% 0);
}
#loader svg {
  transform: scale(3.75);
}
#loader strong {
  position: relative;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  transform: scale(3.5) translateY(225%);
  font-family: "Bellefair", serif;
}
#loader span {
  display: inline-block;
  color: #fff;
}

@media (max-width: 1100px) {
  header {
    position: absolute;
    padding: 0;
  }

  .w-logo {
    padding: 0 0 0 40px;
  }

  .w-nav {
    padding: 0 47.5px;
  }
  .w-nav::after {
    opacity: 0;
    visibility: hidden;
  }
  .w-nav nav {
    display: flex;
    gap: 37px;
  }
  .w-nav a {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
  }
  .w-nav a::before {
    display: none;
  }

  .page.crew {
    gap: 60px;
  }
}
@media (max-width: 1400px) {
  .w-page-title {
    padding: 0 100px;
  }

  .l-wrapper {
    padding: 0 100px;
  }
  .l-wrapper.technology {
    padding: 0 0 0 100px;
    gap: 50px;
  }
  .l-wrapper.destination {
    gap: 78.5px;
    padding: 0 100px;
  }
  .l-wrapper.crew {
    gap: 40px;
    padding: 0 100px;
  }

  .w-navXtext.technology {
    gap: 40px;
  }
}
@media (max-width: 1250px) {
  .w-page-title {
    padding: 0 50px;
  }

  .l-wrapper {
    padding: 0 50px;
  }
  .l-wrapper.technology {
    padding: 0 0 0 50px;
    gap: 25px;
  }
  .l-wrapper.destination {
    gap: 40px;
    padding: 0 50px;
  }
  .l-wrapper.crew {
    gap: 20px;
    padding: 0 50px;
  }

  .w-navXtext.technology {
    gap: 40px;
  }
}
@media (max-width: 1050px) {
  .f-heading1 {
    font-size: 150px;
    line-height: 150px;
    text-transform: uppercase;
  }

  .f-heading2 {
    font-size: 100px;
    line-height: 114.6px;
  }

  .f-heading3 {
    font-size: 40px;
    line-height: 45px;
  }

  .f-heading4 {
    font-size: 24px;
    line-height: 27.5px;
  }

  .f-heading5 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }

  .f-sub-heading1 {
    font-size: 28px;
    line-height: 32px;
  }

  .f-sub-heading2 {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
  }

  .f-nav-text {
    font-size: 16px;
    line-height: 19px;
  }

  .f-body-copy {
    font-size: 16px;
    line-height: 28px;
  }

  .w-h1.home {
    margin: 25px 0 0;
  }

  .w-paragraph.home {
    margin: 25px 0 0;
  }

  .w-home-cta {
    width: 242px;
    height: 242px;
  }
  .w-home-cta::after {
    display: none;
  }

  .page {
    padding: 200px 0 90px;
    gap: 60px;
  }
  .page.destination {
    padding: 135px 0 60px;
  }
  .page.crew {
    padding: 135px 0 0;
    gap: 60px;
  }
  .page.technology {
    padding: 135px 0 100px;
    gap: 60px;
  }

  .w-page-title {
    z-index: 0;
    padding: 0 38.5px;
  }

  .l-wrapper {
    padding: 0 20px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .l-wrapper.home {
    gap: 155px;
    align-items: center;
  }
  .l-wrapper.destination {
    gap: 50px;
    padding: 0 97.5px;
  }
  .l-wrapper.crew {
    gap: 40px;
    margin: 0;
    justify-content: space-between;
    padding: 0 135px 0 165px;
  }
  .l-wrapper.technology {
    padding: 0;
    gap: 55px;
    flex-direction: column-reverse;
  }

  .w-navXtext {
    align-items: center;
  }
  .w-navXtext.crew {
    margin: 0;
    gap: 40px;
    align-self: stretch;
  }
  .w-navXtext.technology {
    flex-direction: column;
    gap: 45px;
  }

  .w-technology-nav {
    flex-direction: row;
  }

  .m-technology-nav {
    height: 60px;
    width: 60px;
  }

  .w-text {
    align-items: center;
    text-align: center;
  }
  .w-text.home {
    padding: 0;
    overflow-y: visible;
  }
  .w-text.crew {
    align-items: stretch;
    width: 100%;
  }
  .w-text.destination {
    max-width: 100%;
  }

  .w-paragraph {
    width: 100%;
  }
  .w-paragraph.destination {
    max-width: 573px;
  }
  .w-paragraph.crew {
    min-width: 100%;
    max-width: 458px;
  }

  .w-img {
    max-width: 100%;
  }
  .w-img.crew {
    overflow: hidden;
    margin: 0;
  }
  .w-img.crew img {
    width: 100%;
    left: 0;
  }
  .w-img.technology {
    min-width: 100% !important;
    max-height: 310px;
    padding-bottom: 0 !important;
    min-height: 310px;
  }
  .w-img.technology div {
    width: 100%;
    height: 100%;
    transform: scale(1.025);
    top: 0;
  }
}
@media (max-width: 680px) {
  header {
    position: fixed;
    padding: 24px 0;
  }

  .w-logo {
    padding: 0 0 0 24px;
  }

  .w-menu-btn,
.w-close-btn {
    display: flex;
  }

  .w-menu-btn {
    padding: 0 24px 0 0;
    transition: 0.6s;
  }
  .w-menu-btn.is-active {
    transform: scale(0);
  }

  .w-close-btn {
    display: flex;
    justify-content: flex-end;
    padding: 0 24px;
  }
  .w-close-btn svg {
    transform: scale(0);
    transition: 0.7s 0.3s;
  }

  .w-nav {
    z-index: 9999;
    padding: 35px 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    max-width: calc(100vw - 96px);
    clip-path: inset(0 0 0 100%);
    transition: 0.7s cubic-bezier(0.6, 0.01, 0.43, 0.99);
  }
  .w-nav.is-active {
    clip-path: inset(0 0 0 0);
  }
  .w-nav.is-active a {
    transform: translateY(0);
    opacity: 1;
    transition: 2s 0.7s;
  }
  .w-nav.is-active .w-close-btn svg {
    transform: scale(1);
    transition: 0.7s 0s;
    opacity: 1;
  }
  .w-nav nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 65px 0 0;
  }
  .w-nav span {
    padding: 0 90px 0 30px;
    overflow: hidden;
  }
  .w-nav span::after {
    display: none;
  }
  .w-nav a {
    transform: translateY(-150%) rotate(-5deg);
    padding: 0;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    transition: 2s 0s;
    opacity: 0.7;
  }
  .w-nav a::before {
    display: flex;
  }
}
@media (max-width: 600px) {
  .page {
    padding: 110px 0 50px;
    gap: 32px;
  }
  .page.destination {
    padding: 90px 0 60px;
  }
  .page.crew {
    padding: 90px 0 100px;
  }
  .page.technology {
    padding: 90px 0 80px;
  }

  .w-page-title {
    padding: 0 38.5px;
    z-index: 0;
    text-align: center;
  }

  .l-wrapper {
    padding: 0 24px;
  }
  .l-wrapper.destination {
    gap: 25.5px;
    padding: 0 24px;
  }
  .l-wrapper.technology {
    padding: 0;
    gap: 45px;
    align-items: center;
    flex-direction: column-reverse;
  }
  .l-wrapper.home {
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
    margin: 0;
    flex: none;
  }
  .l-wrapper.crew {
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 32px;
    padding: 0 24px;
  }

  .w-navXtext {
    flex-direction: column;
    flex: 1;
  }
  .w-navXtext.crew {
    flex-direction: column-reverse;
    flex: none;
    gap: 32px;
  }
  .w-navXtext.technology {
    gap: 25.5px;
  }

  .w-technology-nav {
    flex-direction: row;
  }

  .w-img.destination {
    margin: 0;
    max-width: 300px;
  }
  .w-img.crew {
    max-width: 300px;
  }

  .w-text {
    padding: 0 !important;
    min-width: 100%;
  }
  .w-text.crew p {
    max-width: 100%;
  }
  .w-text.technology {
    justify-self: center;
  }

  .w-h1.home {
    margin: 16px 0 0;
  }

  .w-destination-nav nav {
    display: flex;
    justify-content: center;
    gap: 26px;
  }
  .w-destination-nav span {
    padding: 0 0 8px;
  }
  .w-destination-nav span:hover::after {
    opacity: 0;
  }

  .w-crew-nav {
    padding: 0;
  }

  .m--brain.crew:hover {
    opacity: 0.17;
  }

  .w-2-half-wrapper {
    display: flex;
    margin: 32px 0 0;
    padding: 32px 0 0;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .w-2-half-wrapper div {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .loader.transition {
    transition: 1s;
  }
  .loader.transition svg {
    transform: scale(2.75) rotate(360deg);
  }
  .loader.transition span {
    transform: translateY(0) rotate(0);
    transition: 1s 0.5s ease-out;
  }
  .loader svg {
    transform: scale(2.75);
  }
  .loader strong {
    transform: scale(2.5) translateY(225%);
  }

  .f-heading1 {
    font-size: 80px;
    line-height: 100px;
    text-transform: uppercase;
  }

  .f-heading2 {
    font-size: 56px;
    line-height: 64px;
  }

  .f-heading3 {
    font-size: 24px;
    line-height: 28px;
  }

  .f-heading4 {
    font-size: 16px;
    line-height: 18px;
  }

  .f-heading5 {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }

  .f-sub-heading1 {
    font-size: 28px;
    line-height: 32px;
  }

  .f-sub-heading2 {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
  }

  .f-nav-text {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
  }

  .f-body-copy {
    font-size: 15px;
    line-height: 25px;
  }

  .w-paragraph {
    max-width: 327px !important;
    margin: 16px 0 0;
  }

  .w-home-cta {
    width: 150px;
    height: 150px;
  }
  .w-home-cta a {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.25px;
  }

  .m-technology-nav {
    height: 40px;
    width: 40px;
  }

  .w-img.technology {
    max-height: 170px;
    min-height: 170px;
  }

  .page {
    padding: 150px 0 50px;
    gap: 32px !important;
  }
  .page.p-destination {
    padding: 90px 0 60px;
  }
  .page.p-crew {
    padding: 90px 0 100px;
  }
  .page.p-technology {
    padding: 90px 0 80px;
  }

  .w-img.destination {
    max-width: 170px;
  }
  .w-img.crew {
    max-width: 175px;
  }
  .w-img.technology {
    overflow: hidden;
    min-width: 100%;
    max-height: 170px;
    min-height: 170px;
  }
}
@media (max-width: 450px) {
  .page {
    padding: 110px 0 50px;
    gap: 32px;
  }
  .page.p-destination {
    padding: 90px 0 60px;
  }
  .page.p-crew {
    padding: 90px 0 100px;
  }
  .page.p-technology {
    padding: 90px 0 80px;
  }
}
@media (max-width: 1440px) {
  .w-img.technology {
    max-width: 475px;
  }
}
@media (max-width: 1300px) {
  .w-img.technology {
    max-width: 450px;
    padding-bottom: 450px;
  }
}
@media (max-width: 1250px) {
  .w-img.technology {
    max-width: 425px;
    padding-bottom: 425px;
  }
}
@media (max-width: 1160px) {
  .w-img.technology {
    max-width: 300px;
    padding-bottom: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
