.w-crew-nav {
    display: flex;
    gap:24px ;
    transition: 1s 1s; 
    &.motion {
        opacity: 0
    }
}
.m--brain.crew {
    background: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 0.17;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
    &.active {
        opacity: 1 !important;
    }
}
.m-crew-job,.m-crew-name{
    position: relative;
    position: relative;

}
.m-crew-description  {
}
.m-crew-img {
    position: absolute;
    bottom: 0;
    pointer-events: none;
}
