.w-destination-nav {
    overflow: hidden;
    nav {
        display: flex;
        gap: 35px;
        transition: 1s 0.7s;
        &.motion {
            opacity: 0;
        }
    }
    span {
        padding: 0 0 15px;
        position: relative;
        cursor: pointer;
        &::after {
            content: "";
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
            background: #fff;
            opacity: 0;
            position: absolute;
            transition: 0.7s;
        }
        &:hover {
            &::after {
                opacity: 0.5;
            }
        }
        &.active {
            &::after {
                opacity: 1 !important;
            }
        }
    }
}
.m--brain.destination {
    color: var(--blue);
    &.active {
        color: var(--white);
    }
}

.m-destination-description,
.m-destination-name,
.m-destination-distance,
.m-destination-travel {
    position: relative;
}
.m-destination-img {
    position: absolute;
}
