.w-technology-nav {
    display: flex;
    flex-direction: column;
    gap:23px ;
    transition: 1s 0.7s; 
    &.motion {
        opacity: 0;
    }
}
.m--brain.technology {
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(#fff, 0.25);
    background: rgba(#fff,0);
    transition: 0.7s ;
    &:hover {
    border: 1px solid rgba(#fff, 1);

    }
    &.active {
        border: 1px solid rgba(#fff, 1);
        background: rgba(#fff,1);
        color: var(--dark-blue);
    }
}

.js-technology-description  {
    position: absolute;
    display: block;
    opacity: 1;
    top: 0;
}
.js-technology-name,.js-technology-description {
    position: relative;
    transform: translateY(calc(100% + 1.5em));
    opacity: 1;
    transition: 0.7s transform cubic-bezier(0.23, 1, 0.32, 1);
    &.active {
        transform: translateY(0);
        opacity: 1;
    }
    &.transition {
        display: inline-block;
    }
    &.transition-leave {
        transform: translateY(-100%) !important;
    }
}
.js-technology-img {
    transform: translateY(110%);
    opacity: 0;
    transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    &.active {
        transform: translateY(0);
        opacity: 1;
    }
    &.transition {
        display: block;
    }
    &.transition-leave {
        transform: translateY(0);
    }
}


