* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: inherit;
    list-style: none;
    user-select: none;
    font-size:inherit;
    font-weight: inherit;
    color: inherit;
    box-sizing: border-box;
    background-repeat: no-repeat;
    &::selection {
        background: transparent;
    }
}
html,body {
    overscroll-behavior: none;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;

}
body,main{
    color: #fff;
    font-weight: 400;
    text-transform: none;
    position: relative;
}

body {
    overflow: clip;
}
//body::-webkit-scrollbar {
//    display:none
//}
h1,
h3,
p,
strong {
    overflow-y: hidden;
}
svg {
    pointer-events: none;
}
span {
    display: inline-block;
}