header {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.w-logo {
    padding: 0 0 0 55px;
}
.w-nav {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(99px);
    padding: 0 165px 0 123px;
    position: relative;
    &::after {
        // content: attr(href);
        content: '';
        position: absolute;
        width: 473px;
        height: 1px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.25;
        top: 50%;
        left: 0;
        transform: translate(calc(-100% + 40px),-50% );
    }
    nav {
        display: flex;
        gap: 45px;
        span {
            color: #fff;
            position: relative;
            cursor: pointer;
            padding: 38.5px 0;
            text-transform: uppercase;
            &::after {
                content: '';
                width: 100%;
                height: 3px;
                left: 0;
                bottom: 0;
                background: #fff;
                opacity: 0;
                position: absolute;
                transition: 0.7s;
            }
            &:hover {
                &::after {
                    opacity: 0.5;
                }
            }
            &.active {
                &::after {
                    opacity: 1;
                }
            }
            strong {
                font-weight: 700 !important;
            }
            a {
            padding: 38.5px 0;
        }
        }
    }
}