header {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0;
    top: 0;
    left: 0;
    right: 0;
}
.w-logo {
    padding: 0 0 0 55px;
    display: flex;
    align-items: stretch;
    span {
        display: flex;
        align-items: stretch;
    }
}
.w-nav {
    background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filterr: blur(40px);
    backdrop-filter: blur(40px);
    padding: 0 165px 0 123px;
    &::after {
        display: block;
        content: "";
        position: absolute;
        width: calc(100vw - 155px - 100% + 40px);
        height: 1px;
        background: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.25;
        top: 50%;
        left: 0;
        transform: translate(calc(-100% + 40px), -50%);
    }
    nav {
        display: flex;
        gap: 45px;
    }
    .w-nav_link {
        display: inline-block;
        color: #fff;
        position: relative;
        text-transform: uppercase;
        &::after {
            content: "";
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
            background: #fff;
            opacity: 0;
            position: absolute;
            transition: 0.7s
        }
        &:hover {
            &::after {
                opacity: 0.5
            }
        }
        &.is-active {
            &::after {
                opacity: 1;
            }
        }
    }
    a {
        display: flex;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        padding: 38.5px 0;
        &::before {
            content: attr(data-id);
            font-weight: 700;
            margin: 0 11px 0 0;
        }
    }
}
.w-menu-btn,.w-close-btn {
    display: none;
}
